{% extends "AcmeDemoBundle:Secured:base.html.twig" %}

{% block title %}{% trans %}Hello{% endtrans %} {{ name }}{% endblock %}

{% block content %}
    <h1 class="title">{% trans %}Hello {% endtrans %}{{ name }} {% trans %}secured for Admins only{% endtrans %}!</h1>
{% endblock %}

{% set code = code(_self) %}
