{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block content_header_more %}
    {{ parent() }}
    <li>{% trans %}logged in as{% endtrans %} <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('_demo_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
{% endblock %}
