{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    <h1 class="title">{% trans %}Login{% endtrans %}</h1>

    <p>
        {% trans %}Choose between two default users{% endtrans %}: <em>usuario/paseusuario</em> <small>(ROLE_USER)</small> {% trans %}or{% endtrans %} <em>admin/paseadmin</em> <small>(ROLE_ADMIN)</small>
    </p>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username">{% trans %}Username{% endtrans %}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">{% trans %}Password{% endtrans %}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">{% trans %}Login{% endtrans %}</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}

{% set code = code(_self) %}
