{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title %}{% trans %}Hello %name%{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Hello %name%!{% endtrans %}</h1>
{% endblock %}

{% set code = code(_self) %}
