{% extends "AcmeDemoBundle::base.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Available demos</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_demo_hello', {'name': 'World'}) }}">Hello World</a></li>
        <li><a href="{{ path('_demo_secured_hello', {'name': 'World'}) }}">Accede al área segura</a> <a href="{{ path('_demo_login') }}">Ve a la página de iicio de sesión</a></li>
        {# <li><a href="{{ path('_demo_contact') }}">Envía un mensaje</a></li> #}
    </ul>
{% endblock %}
